html {
  background-image: url("https://github.com/gerda-star/test_web/blob/main/fon.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
    font-family: sans-serif;
}

header {
    background-color: navy;
    padding: 20px;
}
header img {
    border-radius: 15px;
}

header b {
    color: rgb(163, 222, 236)
}

header a {
    text-decoration: None;
    margin: 300px;
    border: 2px solid rgb(163, 222, 236);
    color: rgb(163, 222, 236);
    padding: 7px;
}

nav a {
    text-decoration: None;
    padding: 10px;
    margin: 30px;
    border: 2px solid navy;
    color: navy
}
nav{
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: 2px solid navy ; */
}
